<div class="fs-login-container">
  <div class="fs-login-form">
      <div class="fs-login-title">
          <h3>Fahrschule VN</h3>
      </div>
      <form>
          <div class="form-group">            
            <input type="email" class="form-control" id="fs-login-email" aria-describedby="emailHelp" placeholder="Email address">        
          </div>
          <div class="form-group">            
            <input type="password" class="form-control" id="fs-login-password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary fs-button" (click)="onLogin()">Login</button>
          <button type="submit" class="btn btn-primary fs-button" (click)="onRegister()">Register</button>
        </form>
  </div>
</div>
